body, .row{
  margin: 0;
  padding: 0;
}

.authentication{
  background-image: url(../img/farzaan-kassam-531319-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

nav{
  background-color: rgba(0,0,0,0.5);
  box-shadow: none;
}

.img-logo{
  width: 20%;
  height: auto;
  margin-top: 1%;
}

.nav-wrapper{
  margin-right: 2%;
}

.brand-logo{
  margin-left: 2%;
}

#txtEmail{
  margin-left: -25%;
}

#txtPassword{
  margin-left: -15%;
}

.description{
  color: white;
  background-color: rgba(0,0,0,0.8);
  margin-top: 3%;
}

.phone-img{
  width: 80%;
  height: auto;
}

.register{
  color: white;
  background-color: rgba(0,0,0,0.5);
  margin-top: 3%;
}

#homePage{
  display: none;
}

.info{
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  background-image: url(../img/kaitlyn-baker-422999-unsplash.jpg);
}

.title{
  color: white;
}

.dataInfo{
  color: white;
  background-color: rgba(0,0,0,0.8);
  width: 100%;
  height: 450px;
}

label{
  color: white;
}
#btnLogin {
  background-color: rgba(0,0,0,0.2);
  border: 1px solid white;
}

#btnSignUp {
  background-color: rgba(0,0,0,0.2);
  border: 1px solid white;
}

#btnSalir {
  background-color: rgba(0,0,0,0.2);
  border: 1px solid white;

}

#btnVolver {
  background-color: rgba(0,0,0,0.2);
  border: 1px solid white;
}

.email {
  margin-right: 1em;
} 

#txtPassword2 {
  border: 1px solid white;
  text-align: center;
  color: white;
}

#txtEmail2 {
  border: 1px solid white;
  text-align: center;
}

.canvasjs-chart-canvas{
  width: 100%;
  height: 300px;
 }