body, .row{
  margin: 0;
  padding: 0;
}

.authentication{
  background-image: url(../img/background1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

nav{
  background-color: rgba(0,0,0,0.5);
  box-shadow: none;
}

.img-logo{
  width: 20%;
  height: auto;
  margin-top: 1%;
}

.nav-wrapper{
  margin-right: 2%;
}

.brand-logo{
  margin-left: 2%;
}

#txtEmail{
  margin-left: -25%;
}

#txtPassword{
  margin-left: -15%;
}

.description{
  color: white;
  background-color: rgba(0,0,0,0.8);
  margin-top: 3%;
}

.phone-img{
  width: 80%;
  height: auto;
}

.register{
  color: white;
  background-color: rgba(0,0,0,0.5);
  margin-top: 3%;
}

#homePage{
  display: none;
}

.info{
  width: 100%;
  height: 100vh;
  background-image: url(../img/background2.jpg);
}

.title{
  color: white;
}

.dataInfo{
  color: white;
  background-color: rgba(0,0,0,0.8);
  width: 100%;
}

label{
  color: white;
}