#authentication {
  background-image: url(../images/avi-richards-183715-unsplash.jpg);
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}